<!doctype html>
<html lang="en">

<!-- editor layout-->

<head>
    <%- include('../partials/head.ejs') %>
        <%- include('../partials/editor-head.ejs') %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="container-fluid mt-3">
            <%- body %>
        </div>
        <div class="container-fluid mt-5">
            <%- include('../partials/copyright.ejs') %>
        </div>
        <%- include('../partials/scripts.ejs') %>
</body>

</html>