<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container mt-3">
        <%- body %>
    </div>
    <div class="container mt-5">
        <%- include('../partials/copyright.ejs') %>
    </div>
    <%- include('../partials/scripts.ejs') %>
</body>

</html>