<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-3">
                <%- include('../partials/side.ejs') %>
            </div>
            <div class="col">
                <%- body %>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <%- include('../partials/copyright.ejs') %>
    </div>
    <%- include('../partials/scripts.ejs') %>
</body>

</html>